@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--prompt-font);
  color: black;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #fafafa;
}

fieldset {
  border: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  overflow: auto;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

html {
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}
